<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Carpatian Avalanche Information Service</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="main1.css" type="text/css">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
        <div class="container">
            <div class="row">
            <div class="col-xs-9" id="header">
                <img id="mainlogo" src="nwac.jpg"/>
            </div>
            <div class="row">
            <div class="col-xs-3" id="header_btn">
                <button type="button" class="btn" autocomplete="off">
                    Повідомити про Лавину 
                </button>
            </div>



<!--Header Navigation-->
            <div class="row">
                <div class="col-xs-12" id="mainheader">

                    <header id="mainheader" class="navbar navbar-default container-fluid navbar-static-top">

                        <div class="limit">
                            <nav id="mainnav" role="navigation" class="collapse navbar-collapse">
                                <ul class="nav navbar-nav navbar-left">
                                    <li class="page_item page-item-2 current_page_item">
                                        <a href= #> 
                                            <span class="glyphicon glyphicon-home"></span>
                                        </a>
                                    </li>
                                    <li class="page_item page-item-6">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Локації <span class="caret"></span></a>
                                          <ul class="dropdown-menu" role="menu" id="mainheader">
                                            <li><a href="#">Боржава</a></li>
                                            <li><a href="#">Свидовець</a></li>
                                            <li><a href="#">Чорногора</a></li>
                                          </ul>     
                                    </li>
                                    <li class="page_item page-item-7"><a href="#">Навчання</a></li>
                                    <li class="page_item page-item-8">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Лавинна Активнсіть 
                                        <span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu" id="mainheader">
                                            <li><a href="#">48 годин  <span class="badge">0</span></a></li>
                                            <li><a href="#">Тиджень  <span class="badge">12</span></a></li>
                                            <li><a href="#">Місяць  <span class="badge">20</span></a></li>
                                            <li><a href="#">Поточний сезон  <span class="badge">134</span></a></li>
                                            <li><a href="#">Вся історія  <span class="badge">1143</span></a></li>
                                            </ul>  
                                    </li> 
                                </ul>
                                
                                <ul class="nav navbar-nav navbar-right">
                                    <li ><a href="#">Email alerts</a></li>                
                                    <li ><a href="#">Про нас</a></li>
                                    <li ><a href="#">Допомогти проекту</a></li>
                                </ul>
                            </nav>
                                
                        </div>
                    </header>
                </div>  
            </div>

<!--Content Map-->      
            <div class="row">
                <div class="col-xs-12" id="content_title">
                    <h3>Лавинна Інформація для Українських Карпат</h3>
                </div>
            </div>    

            <div class="row">
                <div class="col-xs-8">
                    <ul class="nav nav-tabs">
                      <li role="presentation" id="content" ><a href="#">Лавинний прогноз у вигляді карти</a></li>
                      <li role="presentation" id="content" class="active"><a href="#">Лавинний прогноз у вигляді тексту</a></li>
                    </ul>
                    <div id="text_report">
                        
                    </div>
                </div>
            
                <div class="col-xs-4" >
                    <div >
                        <ul class="nav nav-tabs">
                            <li role="presentation" id="content" class="active"><a href="#">Новини</a></li>
                        </ul> 
                        <div class="content"></div>
                    </div> 
                    <div>
                        <ul class="nav nav-tabs" style="padding-left: 0px">
                            <li role="presentation" id="content" class="active"><a href="#">Лавинна активність</a></li>
                            <li role="presentation" id="content"><a href="#">більше...</a></li>
                        </ul>
                        <ul style="padding-left: 0px">    
                            <li class="list-group-item">24 години: <a href="#">0 лавин</a></li>
                            <li class="list-group-item">Місяць: <a href="#">63 лавин</a></li>
                            <li class="list-group-item">Поточний сезон(14/15): <a href="#">351 лавин</a></li>                           
                        </ul>
                    </div>    
                </div>
            </div>

<!--Footer-->

        <div class="row" id="footer">
 <!--Contact Us--> 
            <div class="col-xs-2">
                <div class="row" id="footer">Наші контакти</div>
                <ul id="footer"><a href="mailto:snow@CAIS.UA">email us</a></ul>
            </div>

            <div class="col-xs-1"></div>
 <!--Follow Us-->             
            <div class="col-xs-2"> 
                
                <div class="row" id="footer">Ми в соцмережах</div>
                <ul id="footer">Twitter</ul>
                <ul id="footer">facebook</ul>
                <ul id="footer"> <span class="social social-youtube"></span>Youtube</ul>
                
            </div>
            <div class="col-xs-1"></div>
<!--Partnership-->
            <div class="col-xs-2">
                <div class="row" id="footer">Наші партнери</div>
                <ul id="footer">Armada Ukraine</ul>
                <ul id="footer">Alpine Initiatives</ul>
                <ul id="footer">extreme.com.ua</ul>
                <UL id="footer">mns.gov.ua</UL>
            </div>
            <div class="col-xs-1"></div>
<!--Usefull Links-->
            <div class="col-xs-3">
                <div class="row" id="footer">Наші партнери</div>
                <ul id="footer">extreme.com.ua</ul>
                <UL id="footer">mns.gov.ua</UL>
            </div>
            </div>
        </div>  
 <!--Admin LogIn--> 
        <div class="row" id="admin">
            <div class="col-xs-10">
                © 2015 Carpatian Avalanche Information Service
            </div>
            <div class="col-xs-2" id="admin_login">
                <a href="#">Admin LogIn</a>
            </div>
        </div>  



<!--JavaScripts-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
                    <script>
                      function initialize() {
                        var mapCanvas = document.getElementById('map-canvas');
                        var mapOptions = {
                          center: new google.maps.LatLng(48.4119842,24.0316965),
                          zoom: 8,
                          mapTypeId: google.maps.MapTypeId.ROADMAP
                        }
                        var map = new google.maps.Map(mapCanvas, mapOptions)
                      }
                      google.maps.event.addDomListener(window, 'load', initialize);
                    </script>        

    </body>
</html>

